.label {
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-family: "Arial Black";
    -fx-font-size: 20px;
}

.button {
    -fx-background-color: rgb(234, 234, 0);
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-radius: 10;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-family: "Arial Black";
    -fx-font-size: 10px;
}

.root {
    -fx-background-color: rgb(234, 234, 0);
}